[submodule "crates/types/contracts/lib/account-abstraction-versions/v0_7"]
	path = crates/types/contracts/lib/account-abstraction-versions/v0_7
	url = https://github.com/eth-infinitism/account-abstraction
	branch = releases/v0.7
[submodule "crates/types/contracts/lib/account-abstraction-versions/v0_6"]
	path = crates/types/contracts/lib/account-abstraction-versions/v0_6
	url = https://github.com/eth-infinitism/account-abstraction
	branch = releases/v0.6
[submodule "crates/types/contracts/lib/forge-std"]
	path = crates/types/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = chore/v1.5.0
[submodule "crates/types/contracts/lib/openzeppelin-contracts-versions/v5_0"]
	path = crates/types/contracts/lib/openzeppelin-contracts-versions/v5_0
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v5.0
[submodule "crates/types/contracts/lib/openzeppelin-contracts-versions/v4_9"]
	path = crates/types/contracts/lib/openzeppelin-contracts-versions/v4_9
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "test/spec-tests/v0_6/bundler-spec-tests"]
	path = test/spec-tests/v0_6/bundler-spec-tests
	url = git@github.com:alchemyplatform/bundler-spec-tests.git
	ignore = dirty
[submodule "test/spec-tests/v0_7/bundler-spec-tests"]
	path = test/spec-tests/v0_7/bundler-spec-tests
	url = git@github.com:alchemyplatform/bundler-spec-tests.git
	ignore = dirty
