[package]
name = "rundler-utils"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
ethers.workspace = true
futures.workspace = true
rand.workspace = true
tokio.workspace = true
tracing.workspace = true
url.workspace = true
