[package]
name = "rundler-provider"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
rundler-contracts = { path = "../contracts" }
rundler-types = { path = "../types" }
rundler-utils = { path = "../utils" }

alloy-consensus.workspace = true
alloy-contract.workspace = true
alloy-json-rpc.workspace = true
alloy-primitives = { workspace = true, features = ["rand"] }
alloy-provider = { workspace = true, features = ["debug-api", "hyper"] }
alloy-rlp.workspace = true
alloy-rpc-client.workspace = true
alloy-rpc-types-eth.workspace = true
alloy-rpc-types-trace.workspace = true
alloy-sol-types.workspace = true
alloy-transport.workspace = true

anyhow.workspace = true
async-trait.workspace = true
auto_impl.workspace = true
metrics.workspace = true
reqwest.workspace = true
serde.workspace = true
tokio.workspace = true
thiserror.workspace = true
tracing.workspace = true
parse-display.workspace = true
url.workspace = true

mockall = {workspace = true, optional = true }

[features]
test-utils = [ "mockall" ]

[dev-dependencies]
rundler-provider = { path = ".", features = ["test-utils"] }
