[package]
name = "rundler-rpc"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
rundler-contracts.workspace = true
rundler-provider.workspace = true
rundler-sim.workspace = true
rundler-task.workspace = true
rundler-types.workspace = true
rundler-utils.workspace = true

alloy-primitives.workspace = true
alloy-sol-types.workspace = true

anyhow.workspace = true
async-trait.workspace = true
jsonrpsee = { workspace = true , features = ["client", "macros", "server"] }
metrics.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tonic.workspace = true
tower.workspace = true
tracing.workspace = true
serde.workspace = true
strum.workspace = true
url.workspace = true
futures-util.workspace = true
http = "1.1.0"
metrics-derive = "0.1.0"

[dev-dependencies]
mockall.workspace = true
alloy-consensus.workspace = true
rundler-provider = { workspace = true, features = ["test-utils"]}
rundler-sim = { workspace = true, features = ["test-utils"] }
rundler-types= { workspace = true, features = ["test-utils"]}
