on:
  push:
    branches:
      - main
  pull_request:

name: ci
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install protobuf
        run: sudo apt-get -y install protobuf-compiler
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@1.88.0
        with:
          components: clippy
          target: x86_64-unknown-linux-gnu
      - name: Install toolchain (nightly)
        run: rustup toolchain add nightly --component rustfmt --profile minimal
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.4.4

        # Build to generate the ABI bindings.
      - name: cargo build
        run: cargo build --all --all-features

      - name: cargo check
        run: cargo check --all --all-features

      - name: cargo +nightly fmt
        run: cargo +nightly fmt --all --check

      - name: cargo clippy
        run: cargo clippy --all --all-features --tests -- -D warnings

      - name: buf setup
        uses: bufbuild/buf-setup-action@v1
      - name: buf lint
        uses: bufbuild/buf-lint-action@v1

  doc-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install codespell
        run: sudo pip3 install codespell tomli

      - name: Check spelling
        run: codespell --toml .github/workflows/codespell.toml *.md docs/*.md

      - name: markdown link check
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          folder-path: "docs"
          file-path: "README.md,CONTRIBUTING.md,SECURITY.md"
          config-file: ".github/workflows/mlc_config.json"

  cargo-sort:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install cargo-sort
        run: cargo install --git=https://github.com/DevinR528/cargo-sort --rev=55ec89082466f6bb246d870a8d56d166a8e1f08b cargo-sort
      - name: Check cargo sort
        run: cargo sort -g -w -c

  cog_check_job:
    runs-on: ubuntu-latest
    name: check conventional commit compliance
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # pick the pr HEAD instead of the merge commit
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Conventional commit check
        uses: cocogitto/cocogitto-action@v3
        with:
          check-latest-tag-only: true
