on:
  push:
    branches:
      - main
  pull_request:

name: compliance

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: build rundler image
    steps:
      - name: Checkout Rundler
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: alchemyplatform/rundler:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Save Docker image
        run: docker save alchemyplatform/rundler:latest -o rundler-image.tar

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: rundler-image
          path: rundler-image.tar
          retention-days: 1

  compliance:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        version: ["0.6", "0.7", "0.8"]
    name: compliance v${{ matrix.version }}
    steps:
      - run: curl -sSL https://raw.githubusercontent.com/pdm-project/pdm/main/install-pdm.py | python3 -
      - run: pip install jq yq
      - run: sudo apt-get update && sudo apt-get install -y libxml2-utils
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.0

      - uses: KengoTODA/actions-setup-docker-compose@v1
        with:
          version: "2.14.2"

      - name: Checkout Rundler
        uses: actions/checkout@v4
        with:
          path: rundler

      - name: Clone Test Executor
        uses: actions/checkout@v4
        with:
          path: bundler-test-executors
          repository: alchemyplatform/bundler-test-executor
          ref: releases/v${{ matrix.version }}
          submodules: recursive

      - name: Download Docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: rundler-image

      - name: Load Docker image
        run: docker load -i rundler-image.tar

      - name: Run bundle executor
        run: ./bundler-test-executors/runall.sh local ./bundler-test-executors/bundlers/rundler/rundler.yml

      - name: Parse spec results
        run: ./rundler/.github/scripts/compliance_parser.sh ./bundler-test-executors/build/out/rundler.xml

      - name: Archive rundler log file
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: rundler-log-file-v${{ matrix.version }}
          path: bundler-test-executors/build/out/rundler.log
