on:
  push:
    branches:
      - main
  pull_request:


env:
  CARGO_TERM_COLOR: always

name: unit
jobs:
  test:
    name: unit-tests
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@1.88.0
        with:
          components: llvm-tools-preview

      - name: Install protobuf
        run: sudo apt-get install -y protobuf-compiler

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.4.4

      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run tests
        run: |
          cargo llvm-cov nextest --lcov --output-path lcov.info \
            --locked --all-features --workspace

      - name: Upload coverage data to codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          flags: unit-tests

